<footer class="footer">
  <small>
  The <a href="https://twitter.com/">Twitter clone page made </a>
    by <a href="http://9gag.com/">Robik</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
